.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .carusel {
        .buttons-slots-container {
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            .gacescale {
                filter: grayscale(1);
                cursor: unset;
            }

            .slots-container {
                display: flex;
                flex-direction: row;
                overflow: hidden;
                align-items: end;
                transition: transform 0.5s ease;
            }

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;

                img {
                    width: 1.5rem;
                    height: fit-content;
                }
            }

        }

        .bullet-container {
            display: flex;
            justify-content: center;

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;

                img {
                    width: 1rem;
                    height: 1rem;
                }
            }

        }
    }
}